[submodule "storage-service"]
	path = storage-service
	url = https://github.com/Azure/pcs-storage-adapter-dotnet.git
[submodule "simulation-service"]
	path = simulation-service
	url = https://github.com/Azure/device-simulation-dotnet.git
[submodule "webui"]
	path = webui
	url = git@github.com:Azure/pcs-simulation-webui.git
