[submodule "storage-service"]
	path = storage-service
	url = https://github.com/Azure/pcs-storage-adapter-dotnet.git
[submodule "simulation-service"]
	path = simulation-service
	url = https://github.com/Azure/device-simulation-dotnet.git
[submodule "webui"]
	path = webui
	url = git@github.com:Azure/pcs-simulation-webui.git
[submodule "pcs-diagnostics"]
	path = pcs-diagnostics-dotnet
	url = git@github.com:Azure/pcs-diagnostics-dotnet.git
[submodule "pcs-config-dotnet"]
	path = pcs-config-dotnet
	url = https://github.com/Azure/pcs-config-dotnet.git
	branch = RemoveServiceDependency